.magic-cards {
  margin: auto;
  box-sizing: border-box;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid #d7d9db;
  background-color: #fff;
}
