@import '../common/Colors.scss';

.magic-card {
  min-width: 250px;
  max-width: 250px; 
  margin: 15px;

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 0.25rem 0.25rem 0 0;
  }

  &__header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid $color-component-border;
  }

  dl {
    padding: 15px;
  }

  dt {
    width: 50%;
    float: left;
  }

  dd {
    width: 50%;
    float: left;
  }
}
