@import './common/Colors.scss';

body {
  background-color: $color-app-bg;
}

#app {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  padding: 15px;
  font-size: 14px;

  input, button, select {
    font-size: 0.9rem;
  }
}

