@import './common/Colors.scss';

.magic-cards-filter {
  margin: auto;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid $color-component-border;
  background-color: $color-component-bg;
  margin-top: 75px;
  margin-bottom: 15px;
}
