@import './common/Colors.scss';

.magic-cards-header {
  padding: 10px;
  margin: auto;
  text-align: center;
  background-color: $color-component-bg;
  position: fixed;
  border-radius: 0px;
  top: 0px;
  width: 100%;
  z-index: 1000;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid $color-component-border;
}
